@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.titulo {
  color: white;
  font-size: 32px;
  background-color: teal;
}

.subtitulo {
 color: skyblue;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta-de-mokepon {
  width: 600px;
  height: 300px;
  background: aquamarine;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta-de-mokepon img {
  width: 200px;
}

.card-container {
  display: flex;
  gap: 10px;
}

input {
  display: none;
}

input:checked + label{
 background-color: #11468F;

}

#boton-mascota {
  background-color: orange;
  height: 40px;
  width: 200px;
  border: 2px solid black;
  margin-top: 40px;
  padding: 10px;
  border-radius: 30px;
}

#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.btn-attack {
  background-color: lightslategrey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  border: 2px solid slateblue;
  box-sizing: border-box;
}

#mensajes {
  width: 280px;
  background: pink;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color: #11468F;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
  text-align: center;
  gap: 100px;
}

#vidas-jugador, #vidas-enemigo {
  font-size: 32px;
  margin-bottom: 0;
}

.acciones-ataque {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ataques-enemigo, .ataques-jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 860px) {
    .card-container  {
      flex-direction: column;
    }

    .acciones-ataque {
      flex-direction: column;
    }
}

